<div class="stock-container">
  <div class="name">
    <h3>{{ stock.name + '(' + stock.code + ')' }}</h3>
  </div>
  <!-- <div class="price" [ngClass]="stockClasses">$ {{ stock.price }}</div> -->
  <div class="price" [class]="stock.isPositiveChange()? 'positive' : 'negative'">$ {{ stock.price }}</div>
  <button (click)="onToggleFavorite($event)"
    *ngIf="!stock.favorite">Add to Favorite</button>
  <button (click)="changeStockPrice()">Change Price</button>
</div>
