.spacer {
  width: 100%;
}

.topTitle {
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin:0px auto;
}

.titleImg{
  height: 45px;
  margin-top: 5px;
}

.top {
  position: fixed;
  top: 0;
  z-index: 2;
}

.navEdit {
  border-style: solid;
}

.navBoard {
  border-top-color: #222222;
  border-bottom-color: #222222;
  border-left-color: #222222;
  border-right-color: #222222;
  border-style: solid;
  flex: 0 0 30%;
}

.item {
  margin-right: 10px;
}
