<h2>Create Stock Form</h2>

<div class="form-group">
  <form (ngSubmit)="createStock()" #stockForm="ngForm">

    <div class="stock-name">
      <input type="text" placeholder="Stock Code" required name="stockName" #stockName="ngModel" 
        [(ngModel)]="stock.name">
    </div>

    <div *ngIf="stockName.errors && stockName.errors.required">
      Stock Name is Mandatory
    </div>

    <div class="stock-code">
      <input type="text" placeholder="Stock Code" name="stockCode" required minlength="2" #stockCode="ngModel" [(ngModel)]="stock.code">
    </div>

    <div *ngIf="stockCode.dirty && stockCode.invalid">
      <div *ngIf="stockCode.errors.required">
        Stock Code is Mandatory
      </div>
      <div *ngIf="stockCode.errors.minlength">
        Stock Code must be atleast of lenght 2
      </div>
    </div>

    <div class="stock-price">
      <input type="number" placeholder="Stock Price" name="stockPrice"  #stockPrice="ngModel" required [(ngModel)]="stock.price">
    </div>
    <div *ngIf="stockPrice.dirty && stockPrice.invalid">
        <div *ngIf="stockPrice.errors.required">
          Stock Price is Mandatory
        </div>
    </div>

    <div class="stock-exchange">
      <!-- <div>
        <input type="radio"
        name="stockExchange"
        [(ngModel)]="stock.exchange"
        value="NYSE">NYSE
      </div>
      <div>
        <input type="radio"
        name="stockExchange"
        [(ngModel)]="stock.exchange"
        value="NASDAQ">NASDAQ
      </div>
      <div>
        <input type="radio"
        name="stockExchange"
        [(ngModel)]="stock.exchange"
        value="OTHER">OTHER
      </div> -->
      <select name="stockExchange" [(ngModel)]="stock.exchange">
        <option value="NYSE">NYSE</option>
        <option value="NASDAQ">NASDAQ</option>
        <option value="OTHER">OTHER</option>
      </select>
    </div>
    <div class="stock-confirm">
      <input type="checkbox" name="stockConfirm" [(ngModel)]="confirmed">
      I confirm that the information provided aboce is accurate!
    </div>
    <button [disabled]="!confirmed" type="submit">create</button>
  </form>
</div>

<h4>Stock Name is {{ stock | json }}</h4>
<h4>Data has been confirmed: {{ confirmed }}</h4>